<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('main.scrape') }}" role="button">Scrape New Data</a></p>
        </div>
    </div>
      
    <!-- Latest Mars News -->
    <div class="container">
        <div class="row" id="mars-news">
            <div class="col-md-12">
                <h3>Latest Mars News</h3>
                <h4 class="heading">{{news_title}}</h4>
                <small>{{news_p}}</small>
            </div>
        </div>
    </div>

    <!-- Featured Mars Image -->
    <div class="container">
        <div class="row" id="mars-news">
            <div class="col-md-8">
                <h3>Featured Mars Image</h3>
                <h4 class="heading">{{image_url}}</h4>    
            </div>
            <div class="col-md-4">
                <h4>Mars Facts</h4>
                <h4 class="heading">{{facts}}</h4>
            </div>
        </div>

    <!-- Mars Hemispheres -->
    <div class="row" id="mars-hemispheres">
        <div class="col-md-12">
            <h3 class="text-center">Mars Hemispheres</h3>
            <h4 class="heading">{{hemisphere_name}}</h4>
        </div>
    </div>
        
    <!-- Mars Hemispheres Images-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">Column
                <h3>tests</h3></div>
            <div class="col-md-3">Column</div>
            <div class="col-md-3">Column</div>
            <div class="col-md-3">Column</div>
        </div>
        
    </div>

</body>

</html>